/* =========================
   COLOR VARIABLES
========================= */

:root {
    --yellow: #ffc928;
    --yellow-dark: #e5a900;

    --green: #4f7d32;
    --green-dark: #315522;
    --green-light: #eaf1df;

    --brown: #392414;
    --brown-dark: #241407;

    --cream: #fffdf7;
    --cream-dark: #f7eddb;

    --text-light: #766655;

    --border: #e5dccd;
}


/* =========================
   GENERAL
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;

    background: var(--cream);
    color: var(--brown);
}

section {
    padding: 90px 25px;
}

.container {
    max-width: 1150px;
    margin: auto;
}


/* =========================
   NAVIGATION
========================= */

header {
    position: sticky;
    top: 0;
    z-index: 1000;

    background: rgba(255, 253, 247, .97);

    border-bottom: 1px solid var(--border);
}

.navbar {
    max-width: 1250px;
    height: 82px;

    margin: auto;
    padding: 0 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 25px;
}


/* =========================
   LOGO
========================= */

/*
    Your logo is 1:1.

    The width and height are equal,
    so the logo will NOT be stretched.
*/

.logo {
    width: 65px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    text-decoration: none;
}

.logo img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    display: block;
}


/* =========================
   NAV LINKS
========================= */

.nav-links {
    display: flex;

    align-items: center;

    gap: 30px;

    list-style: none;

    margin-left: auto;
}

.nav-links a {
    position: relative;

    color: var(--brown);

    text-decoration: none;

    font-size: 14px;
    font-weight: 600;

    transition: .3s;
}

.nav-links a::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: -7px;

    width: 0;
    height: 3px;

    background: var(--green);

    border-radius: 10px;

    transition: .3s;
}

.nav-links a:hover {
    color: var(--green);
}

.nav-links a:hover::after {
    width: 100%;
}


/* =========================
   HEADER ACTIONS
========================= */

.header-actions {
    display: flex;

    align-items: center;

    gap: 12px;

    flex-shrink: 0;
}


/* FACEBOOK */

.facebook {
    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #1877f2;

    color: white;

    text-decoration: none;

    font-size: 19px;
    font-weight: 700;

    transition: .3s;
}

.facebook:hover {
    transform: translateY(-2px);
}


/* INQUIRE BUTTON */

.inquire-btn {
    padding: 12px 22px;

    border-radius: 30px;

    background: var(--green);

    color: white;

    text-decoration: none;

    font-size: 14px;
    font-weight: 700;

    transition: .3s;
}

.inquire-btn:hover {
    background: var(--green-dark);

    transform: translateY(-2px);
}


/* =========================
   HERO
========================= */

.hero {
    position: relative;

    min-height: 590px;

    display: flex;
    align-items: center;

    background:
        url("images/fries.jpg")
        center / cover;
}


/* HERO OVERLAY */

.hero-overlay {
    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            90deg,
            rgba(36,20,7,.96),
            rgba(47,30,13,.82),
            rgba(49,85,34,.40)
        );
}


/* HERO CONTENT */

.hero-content {
    position: relative;
    z-index: 2;

    width: 1250px;
    max-width: 90%;

    margin: auto;
}

.hero-text {
    max-width: 700px;

    color: white;
}


/* SMALL TITLE */

.hero-small {
    display: inline-block;

    margin-bottom: 12px;

    color: var(--yellow);

    font-size: 14px;

    font-weight: 700;

    letter-spacing: 4px;
}


/* HERO TITLE */

.hero-text h1 {
    font-family: "Baloo 2", cursive;

    font-size: clamp(60px, 8vw, 105px);

    line-height: .75;

    color: var(--yellow);

    text-shadow:
        5px 5px 0 var(--brown-dark);

    margin-bottom: 25px;
}

.hero-text h1 span {
    display: block;

    margin-top: 13px;

    color: white;

    font-size: .42em;

    letter-spacing: 9px;

    text-shadow: none;
}


/* TAGLINE */

.tagline {
    font-family: "Baloo 2", cursive;

    color: white;

    font-size: 27px;

    margin-bottom: 12px;
}


/* HERO DESCRIPTION */

.hero-description {
    max-width: 570px;

    color: #eee5d9;

    line-height: 1.8;

    font-size: 15px;

    margin-bottom: 28px;
}


/* HERO BUTTONS */

.hero-buttons {
    display: flex;

    gap: 15px;

    flex-wrap: wrap;
}


/* =========================
   BUTTONS
========================= */

.btn {
    display: inline-block;

    padding: 14px 27px;

    border-radius: 30px;

    text-decoration: none;

    font-weight: 700;

    transition: .3s;
}

.btn-primary {
    background: var(--yellow);

    color: var(--brown);
}

.btn-primary:hover {
    background: #eeb400;

    transform: translateY(-3px);
}

.btn-secondary {
    border: 2px solid white;

    color: white;
}

.btn-secondary:hover {
    background: white;

    color: var(--green-dark);

    transform: translateY(-3px);
}


/* =========================
   SECTION TITLES
========================= */

.section-title {
    text-align: center;

    margin-bottom: 55px;
}

.section-label {
    display: inline-block;

    margin-bottom: 8px;

    color: var(--green);

    font-size: 12px;

    font-weight: 800;

    letter-spacing: 3px;
}

.section-title h2 {
    font-family: "Baloo 2", cursive;

    font-size: 50px;

    line-height: 1;

    color: var(--brown);
}

.section-title p {
    margin-top: 12px;

    color: var(--text-light);
}


/* =========================
   PRODUCTS
========================= */

.products {
    background: var(--cream);
}

.product-grid {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 22px;
}

.product-card {
    overflow: hidden;

    background: white;

    border-radius: 20px;

    border: 1px solid var(--border);

    box-shadow:
        0 8px 25px rgba(62,39,17,.07);

    transition: .3s;
}

.product-card:hover {
    transform: translateY(-8px);

    border-color: var(--green);

    box-shadow:
        0 15px 35px rgba(49,85,34,.13);
}


/* PRODUCT IMAGE */

.product-image {
    height: 200px;

    background: var(--green-light);

    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    transition: .4s;
}

.product-card:hover img {
    transform: scale(1.06);
}


/* PRODUCT INFO */

.product-info {
    position: relative;

    padding: 22px;

    text-align: center;
}

.product-number {
    color: var(--green);

    font-size: 11px;

    font-weight: 800;

    letter-spacing: 2px;
}

.product-info h3 {
    font-family: "Baloo 2", cursive;

    font-size: 27px;

    margin-top: 3px;
}

.product-info p {
    color: var(--text-light);

    font-size: 13px;

    margin-top: 3px;
}


/* =========================
   ABOUT
========================= */

.about {
    background: var(--cream-dark);
}

.about-grid {
    display: grid;

    grid-template-columns:
        1fr 1fr;

    gap: 70px;

    align-items: center;
}

.about-text h2 {
    font-family: "Baloo 2", cursive;

    font-size: 52px;

    line-height: .95;

    margin-bottom: 22px;
}

.about-text p {
    color: #665545;

    line-height: 1.9;

    margin-bottom: 16px;
}


/* MASCOT */

.about-image {
    min-height: 420px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;

    background:
        radial-gradient(
            circle,
            #ffffff 0%,
            #edf4e5 100%
        );

    overflow: hidden;
}

.about-image img {
    width: 90%;
    height: 90%;

    max-height: 390px;

    object-fit: contain;

    transition: .4s;
}

.about-image:hover img {
    transform: scale(1.04);
}


/* =========================
   WHY BANATATOE
========================= */

.why {
    background: white;
}

.why-grid {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 20px;
}

.why-card {
    padding: 35px 20px;

    text-align: center;

    border-radius: 20px;

    transition: .3s;
}

.why-card:hover {
    background: var(--green-light);

    transform: translateY(-5px);
}


/* ICON */

.why-icon {
    width: 75px;
    height: 75px;

    margin: auto auto 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: var(--yellow);

    font-size: 31px;
}

.why-card:nth-child(even) .why-icon {
    background: var(--green);

}

.why-card h3 {
    font-family: "Baloo 2", cursive;

    font-size: 26px;

    margin-bottom: 7px;
}

.why-card p {
    color: var(--text-light);

    font-size: 13px;

    line-height: 1.7;
}

/* =========================
   CONTACT
========================= */

.contact {
    background: var(--cream);
}

.contact-grid {
    display: grid;

    grid-template-columns:
        1fr 1fr;

    gap: 70px;

    align-items: center;
}

.contact-info h2 {
    font-family: "Baloo 2", cursive;

    font-size: 52px;

    line-height: .95;

    margin-bottom: 20px;
}

.contact-intro {
    max-width: 500px;

    color: var(--text-light);

    line-height: 1.8;

    margin-bottom: 25px;
}


/* CONTACT ITEMS */

.contact-item {
    display: flex;

    align-items: center;

    gap: 15px;

    margin: 20px 0;
}

.contact-icon {
    width: 48px;
    height: 48px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: var(--green);

    color: white;

    font-weight: 800;
}

.contact-item strong {
    font-size: 14px;
}

.contact-item p {
    color: var(--text-light);

    font-size: 13px;

    margin-top: 2px;
}


/* CONTACT CARD */

.contact-message {
    position: relative;

    overflow: hidden;

    padding: 55px;

    text-align: center;

    color: white;

    border-radius: 30px;

    background:
        linear-gradient(
            135deg,
            var(--brown),
            var(--green-dark)
        );
}

.contact-decoration {
    color: var(--yellow);

    font-size: 30px;

    margin-bottom: 10px;
}

.contact-message h3 {
    font-family: "Baloo 2", cursive;

    color: var(--yellow);

    font-size: 43px;
}

.contact-message p {
    max-width: 400px;

    margin: 15px auto 28px;

    color: #eee6dc;

    line-height: 1.7;
}


/* =========================
   FOOTER
========================= */

footer {
    background: var(--brown-dark);

    color: white;

    padding: 45px 25px 25px;
}

.footer-container {
    max-width: 1150px;

    margin: auto;
}

.footer-top {
    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 30px;

    padding-bottom: 35px;
}


/* FOOTER LOGO */

.footer-brand img {
    width: 75px;
    height: 75px;

    object-fit: contain;

    display: block;

    margin-bottom: 12px;
}

.footer-brand p {
    color: #d6c8b7;

    font-size: 13px;
}


/* FOOTER LINKS */

.footer-links {
    display: flex;

    gap: 25px;

    flex-wrap: wrap;

    justify-content: flex-end;
}

.footer-links a {
    color: white;

    text-decoration: none;

    font-size: 13px;

    transition: .3s;
}

.footer-links a:hover {
    color: var(--yellow);
}


/* FOOTER BOTTOM */

.footer-bottom {
    display: flex;

    justify-content: space-between;

    gap: 20px;

    padding-top: 20px;

    border-top: 1px solid #523b27;

    color: #bba998;

    font-size: 12px;
}


/* =========================
   TABLET
========================= */

@media (max-width: 1050px) {

    .nav-links {
        gap: 18px;
    }

    .nav-links a {
        font-size: 12px;
    }

    .product-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .why-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }
}


/* =========================
   MOBILE
========================= */

@media (max-width: 800px) {

    .navbar {
        height: 75px;
    }

    .nav-links {
        display: none;
    }

    .logo {
        width: 58px;
        height: 58px;
    }

    .header-actions {
        margin-left: auto;
    }

    .about-grid,
    .contact-grid {
        grid-template-columns: 1fr;
    }

    .team-grid {
        grid-template-columns: 1fr;

        max-width: 400px;
    }

    .hero {
        min-height: 600px;
    }

    .hero-text {
        text-align: center;

        margin: auto;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-description {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-top {
        flex-direction: column;

        align-items: flex-start;
    }

    .footer-links {
        justify-content: flex-start;
    }
}


/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 500px) {

    section {
        padding: 65px 20px;
    }

    .inquire-btn {
        padding: 10px 16px;

        font-size: 12px;
    }

    .facebook {
        width: 34px;
        height: 34px;
    }

    .hero-text h1 {
        font-size: 58px;
    }

    .tagline {
        font-size: 21px;
    }

    .section-title h2,
    .about-text h2,
    .contact-info h2 {
        font-size: 40px;
    }

    .product-grid,
    .why-grid {
        grid-template-columns: 1fr;
    }

    .contact-message {
        padding: 40px 25px;
    }

    .footer-bottom {
        flex-direction: column;
    }
}